::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #262626;
}
.scroller:hover::-webkit-scrollbar-thumb{
    background: #313131;
}
::-webkit-scrollbar-corner {
    background: #1a1a1a;
}